body, html, .ox {
  padding: 0;
  margin: 0;
}

.owo-animation {
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.owo-animated {
  -webkit-animation-duration: 1s;
  -o-animation-duration: 1s;
     animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -o-animation-fill-mode: both;
     animation-fill-mode: both;
}
.owo-animation-forward {
  z-index: 99;
}

a:link, a:visited {
  text-decoration: none;
}

/* 清除浮动 */
.clear:after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
  zoom: 1;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.one[template="one"] {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: 100% 100%;
  background-image: url('../../static/resource/one-bg.jpg');
}

[template="one"] img {
  position: absolute;
}

[template="one"] .one-1 {
  height: 16%;
  left: 0;
  bottom: 0px;
  z-index: 12;
}

[template="one"] .one-2 {
  height: 16%;
  right: 0;
  bottom: 0px;
  z-index: 12;
}

[template="one"] .one-3 {
  height: 43%;
  left: 17%;
  bottom: 0px;
  z-index: 11;
}

[template="one"] .one-4 {
  height: 48%;
  left: 0;
  bottom: 30%;
  z-index: 9;
}

[template="one"] .one-5 {
  height: 56%;
  left: 3%;
  bottom: 30%;
  z-index: 8;
}

[template="one"] .one-7 {
  right: 12%;
  height: 45%;
  bottom: 30%;
}

[template="one"] .one-8 {
  right: 0;
  height: 60%;
  bottom: 30%;
}

[template="one"] .one-9 {
  width: 100%;
  height: 100%;
  bottom: 0;
  z-index: 10;
}

[template="one"] .one-6 {
  height: 30%;
  left: 11%;
  bottom: 28%;
  z-index: 7;
}

[template="one"] .one-10 {
  height: 35%;
  z-index: 10;
  bottom: 26%;
  left: 6%;
}

[template="one"] .one-11 {
  z-index: 10;
  height: 18%;
  right: 33%;
  bottom: 21%;
}

[template="one"] .one-12 {
  right: 15%;
  z-index: 10;
  height: 33%;
  bottom: 27%;
}

[template="one"] .one-13 {
  left: 18%;
  height: 12%;
  bottom: 60%;
}

[template="one"] .one-14 {
  right: 23%;
  height: 12%;
  top: 4%;
}

[template="one"] .one-15 {
  height: 44%;
  left: 0;
  right: 0;
  margin: auto;
  top: 14%;
  z-index: 10;
}

[template="one"] .one-16 {
  height: 26%;
  position: absolute;
  left: 40%;
  top: 25%;
  z-index: 0;
}

[template="one"] .one-17 {
  z-index: 0;
  height: 10%;
  position: absolute;
  left: 59%;
  top: 19%;
}

[template="one"] .loading-box {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  -webkit-transition: top 0.5s linear;
  -o-transition: top 0.5s linear;
  transition: top 0.5s linear;
}

[template="one"] .loading-box .loading {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 10px;
  bottom: 30px;
  margin: auto;
}

[template="one"] .lock {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: auto;
  z-index: 999;
  background-color: #333;
}

[template="one"] .lock .lock-img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 80px;
  margin: auto;
}

[template="one"] .lock .text {
  height: 40px;
  line-height: 40px;
  width: 280px;
  color: white;
  font-size: 14px;
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  bottom: 0;
  margin: auto;
  text-align: center;
  font-weight: bold;
}

[template="one"] .load-text {
  color: white;
  right: 10px;
  position: absolute;
  width: 80px;
  text-align: center;
  bottom: 5px;
}
          [font="FZHZGBJW.TTF"] {
            font-family: 'FZHZGBJW';
          }
          @font-face {
            font-family: 'FZHZGBJW';
            src: url('../font/FZHZGBJW.eot');
            src: url('../font/FZHZGBJW.eot?#iefix') format('embedded-opentype'),
              url('../font/FZHZGBJW.woff') format('woff'),
              url('../font/FZHZGBJW.ttf')  format('truetype'),
              url('../font/FZHZGBJW.svg#MicrosoftYaHei') format('svg');
          }
        
          [font="FZHZGBJW.TTF"] {
            font-family: 'FZHZGBJW';
          }
          @font-face {
            font-family: 'FZHZGBJW';
            src: url('../font/FZHZGBJW.eot');
            src: url('../font/FZHZGBJW.eot?#iefix') format('embedded-opentype'),
              url('../font/FZHZGBJW.woff') format('woff'),
              url('../font/FZHZGBJW.ttf')  format('truetype'),
              url('../font/FZHZGBJW.svg#MicrosoftYaHei') format('svg');
          }
        
          [font="FZHZGBJW.TTF"] {
            font-family: 'FZHZGBJW';
          }
          @font-face {
            font-family: 'FZHZGBJW';
            src: url('../font/FZHZGBJW.eot');
            src: url('../font/FZHZGBJW.eot?#iefix') format('embedded-opentype'),
              url('../font/FZHZGBJW.woff') format('woff'),
              url('../font/FZHZGBJW.ttf')  format('truetype'),
              url('../font/FZHZGBJW.svg#MicrosoftYaHei') format('svg');
          }
        
          [font="FZHZGBJW.TTF"] {
            font-family: 'FZHZGBJW';
          }
          @font-face {
            font-family: 'FZHZGBJW';
            src: url('../font/FZHZGBJW.eot');
            src: url('../font/FZHZGBJW.eot?#iefix') format('embedded-opentype'),
              url('../font/FZHZGBJW.woff') format('woff'),
              url('../font/FZHZGBJW.ttf')  format('truetype'),
              url('../font/FZHZGBJW.svg#MicrosoftYaHei') format('svg');
          }
        
          [font="FZHZGBJW.TTF"] {
            font-family: 'FZHZGBJW';
          }
          @font-face {
            font-family: 'FZHZGBJW';
            src: url('../font/FZHZGBJW.eot');
            src: url('../font/FZHZGBJW.eot?#iefix') format('embedded-opentype'),
              url('../font/FZHZGBJW.woff') format('woff'),
              url('../font/FZHZGBJW.ttf')  format('truetype'),
              url('../font/FZHZGBJW.svg#MicrosoftYaHei') format('svg');
          }
        
          [font="FZHZGBJW.TTF"] {
            font-family: 'FZHZGBJW';
          }
          @font-face {
            font-family: 'FZHZGBJW';
            src: url('../font/FZHZGBJW.eot');
            src: url('../font/FZHZGBJW.eot?#iefix') format('embedded-opentype'),
              url('../font/FZHZGBJW.woff') format('woff'),
              url('../font/FZHZGBJW.ttf')  format('truetype'),
              url('../font/FZHZGBJW.svg#MicrosoftYaHei') format('svg');
          }
        
          [font="FZHZGBJW.TTF"] {
            font-family: 'FZHZGBJW';
          }
          @font-face {
            font-family: 'FZHZGBJW';
            src: url('../font/FZHZGBJW.eot');
            src: url('../font/FZHZGBJW.eot?#iefix') format('embedded-opentype'),
              url('../font/FZHZGBJW.woff') format('woff'),
              url('../font/FZHZGBJW.ttf')  format('truetype'),
              url('../font/FZHZGBJW.svg#MicrosoftYaHei') format('svg');
          }
        
          [font="FZHZGBJW.TTF"] {
            font-family: 'FZHZGBJW';
          }
          @font-face {
            font-family: 'FZHZGBJW';
            src: url('../font/FZHZGBJW.eot');
            src: url('../font/FZHZGBJW.eot?#iefix') format('embedded-opentype'),
              url('../font/FZHZGBJW.woff') format('woff'),
              url('../font/FZHZGBJW.ttf')  format('truetype'),
              url('../font/FZHZGBJW.svg#MicrosoftYaHei') format('svg');
          }
        
          [font="FZHZGBJW.TTF"] {
            font-family: 'FZHZGBJW';
          }
          @font-face {
            font-family: 'FZHZGBJW';
            src: url('../font/FZHZGBJW.eot');
            src: url('../font/FZHZGBJW.eot?#iefix') format('embedded-opentype'),
              url('../font/FZHZGBJW.woff') format('woff'),
              url('../font/FZHZGBJW.ttf')  format('truetype'),
              url('../font/FZHZGBJW.svg#MicrosoftYaHei') format('svg');
          }
        
.two[template="two"] {
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
}

[template="two"] .content {
  height: 100%;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 100%;
}

[template="two"] .box {
  position: relative;
  width: 100%;
  height: 100%;
}

[template="two"] .box img {
  display: block;
}

[template="two"] .two-1 {
  height: 15%;
  position: absolute;
  z-index: 1;
  left: 40px;
  -webkit-transform: translate(-50%, 0px) translate3d(0px, 0px, 0px);
          transform: translate(-50%, 0px) translate3d(0px, 0px, 0px);
}

[template="two"] .kacl {
  position: absolute;
  color: #f76363;
  font-weight: bold;
  font-size: 24px;
  left: 5%;
  top: 10%;
  display: none;
  z-index: 888;
  -webkit-animation: showkacl 1000ms 1;
       -o-animation: showkacl 1000ms 1;
          animation: showkacl 1000ms 1;
}

[template="two"] .content-item {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

[template="two"] .content-item .left,
[template="two"] .content-item .right {
  height: 100%;
  width: 50%;
  overflow: hidden;
  position: relative;
}

[template="two"] .content-item .right .scene {
  position: absolute;
  right: 0;
}

[template="two"] .content-item .scene {
  height: 100%;
}

[template="two"] .content-item .nocolor-button-item {
  height: 38%;
  position: absolute;
  bottom: 6%;
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
  pointer-events: unset;
  -webkit-animation: fade 2000ms infinite;
       -o-animation: fade 2000ms infinite;
          animation: fade 2000ms infinite;
  -webkit-transform: translate3d(0, 0px, 0px);
          transform: translate3d(0, 0px, 0px);
}

[template="two"] .active .nocolor-button-item {
  pointer-events: none;
  -webkit-animation: unset;
       -o-animation: unset;
          animation: unset;
}

[template="two"] .time-bar {
  position: absolute;
  height: 100%;
  width: 30px;
  background-color: #f66163;
  color: #ffb0a2;
  font-size: 23px;
  -webkit-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: tb-rl;
  left: 0;
  right: 0;
  margin: auto;
  line-height: 30px;
  text-align: center;
}

[template="two"] .show-box {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  left: 0;
  top: -100%;
  z-index: 999;
  -webkit-transition: top 0.5s linear;
  -o-transition: top 0.5s linear;
  transition: top 0.5s linear;
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
}

[template="two"] .show-box .man {
  position: absolute;
  left: 20%;
  height: 28%;
  top: 10%;
}

[template="two"] .show-box .woman {
  position: absolute;
  right: 20%;
  height: 28%;
  top: 10%;
}

[template="two"] .show-box input {
  border: none;
  background: none;
  border-bottom: 2px solid white;
  line-height: 40px;
  width: 25%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 45%;
  font-size: 30px;
  text-align: center;
  color: white;
  outline: none;
}

[template="two"] .content-2 {
  background-color: rgba(236, 223, 206, 0.4);
}

[template="two"] .content-3 {
  background-color: rgba(224, 203, 184, 0.4);
  z-index: -1;
}

[template="two"] .content-4 {
  z-index: -1;
  background-color: rgba(203, 178, 156, 0.4);
}

[template="two"] .content-5 {
  background-color: rgba(177, 151, 134, 0.4);
}

[template="two"] .content-6 {
  z-index: -1;
  background-color: rgba(187, 146, 116, 0.4);
}

[template="two"] .content-7 {
  background-color: rgba(177, 127, 92, 0.4);
}

[template="two"] .content-9 {
  z-index: -1;
}

[template="two"] .button {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  height: 15%;
  top: 74%;
}

[template="two"] .info-text {
  position: absolute;
  left: 347px;
  top: 15%;
  height: 9%;
  background-color: #e0d5ca;
}

[template="two"] .hand {
  position: absolute;
  height: 10%;
  left: 518px;
  top: 27%;
  -webkit-animation-name: scale2;
       -o-animation-name: scale2;
          animation-name: scale2;
  -webkit-animation-duration: 2s;
       -o-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
       -o-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
       -o-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

[template="two"] .bg-line {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

[template="two"] .button-3 {
  bottom: unset !important;
  top: 6%;
  left: 25% !important;
}

[template="two"] .button-6 {
  bottom: unset !important;
  top: 6%;
  right: -50% !important;
}

[template="two"] .button-9 {
  bottom: unset !important;
  top: 6%;
  left: -23% !important;
}

[template="two"] .button-15 {
  bottom: unset !important;
  top: 6%;
  left: -53% !important;
}

@-webkit-keyframes fade {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0.6;
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes fade {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0.6;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0.6;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes showkacl {
  from {
    opacity: 0;
    top: 16%;
    font-size: 12px;
  }

  to {
    opacity: 1;
    top: 10%;
    font-size: 24px;
  }
}

@-o-keyframes showkacl {
  from {
    opacity: 0;
    top: 16%;
    font-size: 12px;
  }

  to {
    opacity: 1;
    top: 10%;
    font-size: 24px;
  }
}

@keyframes showkacl {
  from {
    opacity: 0;
    top: 16%;
    font-size: 12px;
  }

  to {
    opacity: 1;
    top: 10%;
    font-size: 24px;
  }
}

@-webkit-keyframes scale2 {
  0% {
    left: 480px;
  }

  100% {
    left: 418px;
  }
}

@-o-keyframes scale2 {
  0% {
    left: 480px;
  }

  100% {
    left: 418px;
  }
}

@keyframes scale2 {
  0% {
    left: 480px;
  }

  100% {
    left: 418px;
  }
}
.share[template="share"] {
  width: 400%;
  height: 400%;
  background-size: 100%;
  position: relative;
  -webkit-transform: scale(0.25);
       -o-transform: scale(0.25);
          transform: scale(0.25);
  -webkit-transform-origin: 0 0;
       -o-transform-origin: 0 0;
          transform-origin: 0 0;
}

[template="share"] .show {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
  opacity: 0;
}

[template="share"] .card {
  width: 80%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  overflow: hidden;
  background-size: contain;
}

[template="share"] .button {
  width: 25%;
  right: 0;
  left: 0;
  top: 493vw;
  bottom: 0;
  margin: auto;
  position: absolute;
  z-index: 99;
  -webkit-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}

[template="share"] .text {
  position: absolute;
  left: 16%;
  line-height: 96px;
  height: 96px;
  font-size: 72px;
  bottom: 0;
  top: -497vw;
  margin: auto;
  font-weight: bold;
  color: #2145aa;
}

[template="share"] .erCode {
  position: absolute;
  width: 15%;
  left: 30%;
  top: 0;
  bottom: -368vw;
  margin: auto;
  background-size: 100% 100%;
  background-image: url('../../static/resource/qr.png');
}

[template="share"] .stars {
  height: 14%;
  top: 15%;
  width: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  left: -1%;
}

[template="share"] .title {
  height: 5%;
  top: 4%;
  width: 39%;
  right: 6%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: 0 0;
}